<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <h3>Consultar Historial de Venta por <b> Usuario </b> </h3>
                        <div class="p-b-5">
                            <small>Ingrese al numero de identificación del cliente para consultar su historial de venta</small>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-block btn-lg  btn-info btn-lg text-c" (click)="AbrirModal()"><i class="fa fa-search"></i><span class="p-4">Consultar</span></button><br/>
                    </div>
                    <app-historial-ventas-usuario></app-historial-ventas-usuario>
                    <hr>
                    <div class="col-12">
                        <h3 card="card-title">Historial de Ventas</h3>
                        <small>Consulte el historial de las últimas compras realizadas, de todos los usuarios</small>
                    </div>
                    <hr>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Id Transaccion</th>
                                    <th class="text-center">Fecha Venta</th>
                                    <th class="text-center">Nombre Cliente</th>
                                    <th class="text-center">Valor </th>
                                    <th class="text-center">Reversar Compra</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of historialVentas">
                                    <td class="text-center">{{item.IdTransaccion}}</td>
                                    <td class="text-center">{{item.FechaCompra}}</td>
                                    <td class="text-center">{{item.NombreCliente}}</td>
                                    <td class="text-center">{{item.ValorCompra | currency:'USD':true:'3.0'}}</td>
                                    <td class="text-center"><button type="button" (click)="reversarTransaccion(item.IdTransaccion)" class="btn btn-outline-primary">Reversar Compra</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>