<!-- <h1>{{titulo}}</h1>

<ul id="kioscos-list">
    <li class="loading">
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Bienvenidos</p>
            </div>
        </div>
    </li>
    <li *ngFor="let kiosco of kioscos" class="kiosco-item">
        <div class="image">

        </div>
        <div class="data">
            <h4>{{kiosco.nombre}}</h4>
            <p>{{kiosco.descripcion}}</p>
            <p>
                <a [routerLink]="['/restaurante', kiosco.id ]" class="btn btn-ver">Ver</a>
                <a [routerLink]="['/editar-restaurante', kiosco.id ]" href="" class="btn btn-editar">Editar</a>
                <a (click)="onBorrarConfirm(kiosco.id)" class="btn btn-eliminar">Eliminar</a>
            </p>
            <div class="seguro" *ngIf="confirmado === kiosco.id">
                <!-- <a (click)="onBorrarRestaurante(kiosco.id)" class="btn btn-eliminar">Eliminar</a> -->
                <!-- <a (click)="onCancelarConfirm(kiosco.id)" class="btn btn-ver">Cancelar</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </li>
    <div class="clearfix"></div>
</ul> --> -->