<!-- <app-loader [loader]="isLoading"> </app-loader> -->
<div id="crearCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog modal-lg ">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title text-white">Crear Cliente </h4>
        <button type="button" class="close" (click)="cerrarModalCrearCliente()" data-dismiss="modal">×</button>
      </div>
      <form (ngSubmit)="crearCliente(formularioCliente);" #formularioCliente="ngForm"
        novalidate="" autocomplete="off">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-3 col-form-label">* Identificación</label>
                <div class="col-3" [ngClass]="{'has-danger': (noIdentificacion.errors?.minlength || noIdentificacion.errors?.required) && noIdentificacion.touched }">
                  <input class="form-control" type="text" placeholder="Identificación" minlength="5" maxlength="20"
                  name="noIdentificacion" ngModel required #noIdentificacion="ngModel" (keydown)="onKeydownIdentificacion($event)">
                  <div *ngIf="noIdentificacion.touched && !noIdentificacion.valid">
                      <div *ngIf="noIdentificacion?.errors?.required" class="form-control-feedback"><small>Este campo es requerido</small> </div>
                      <div *ngIf="noIdentificacion?.errors?.minlength" class="form-control-feedback"><small>Ingrese mínimo {{noIdentificacion?.errors.minlength.requiredLength}} caracteres </small> </div>
                  </div>
                </div>
                <label class="col-2 col-form-label">Estado</label>
                <div class="col-3">
                  <ui-switch [checked]="true" checkedLabel="Activo" uncheckedLabel="Inactivo"
                  name="estado" ngModel #estado="ngModel"></ui-switch>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">* Nombres</label>
                <div class="col-3" [ngClass]="{'has-danger': (nombres.errors?.minlength || nombres.errors?.required) && nombres.touched }">
                  <input class="form-control" type="text" minlength="2" maxlength="50" placeholder="Nombres"
                    name="nombres" ngModel required #nombres="ngModel">
                    <div *ngIf="nombres.touched && !nombres.valid">
                      <div *ngIf="nombres?.errors?.required" class="form-control-feedback"><small>Este campo es requerido</small> </div>
                  </div>
                </div>
                <label class="col-2 col-form-label">* Apellidos</label>
                <div class="col-3" [ngClass]="{'has-danger': (apellidos.errors?.minlength || apellidos.errors?.required) && apellidos.touched }">
                  <input class="form-control" minlength="2" maxlength="50" type="text" placeholder="Apellidos"
                    name="apellidos" ngModel required #apellidos="ngModel">
                    <div *ngIf="apellidos.touched && !apellidos.valid">
                      <div *ngIf="apellidos?.errors?.required" class="form-control-feedback"><small>Este campo es requerido</small> </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">* Tipo de Cliente</label>
                <div class="col-3">
                  <select [(ngModel)]="defaultOption" required #tipoCliente="ngModel" class="form-control col-12"
                    name="tipoCliente" >
                    <option [value]=null>Seleccione...</option>
                    <option [value]="est.Valor" *ngFor="let est of dominio">{{est.Descripcion}}</option>
                  </select>
                </div>
                <label class="col-2 col-form-label">Celular</label>
                <div class="col-3">
                  <input class="form-control" size="10" minlength="0" maxlength="10" max="10" type="number" placeholder="Celular"
                    name="celular" ngModel #celular="ngModel"
                    onKeyPress="if(this.value.length==10) return false;" (keydown)="onKeydown($event)">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label">Precio Especial</label>
                <div class="col-3">
                  <ui-switch [checked]="true" checkedLabel="Activo" uncheckedLabel="Inactivo"
                   name="precioEspecial" ngModel #precioEspecial="ngModel">
                  </ui-switch>
                </div>
              </div>
              <label class="col-2 col-form-label">Titulares</label>
                <div class="form-group ">
                  <ng-multiselect-dropdown [placeholder]=" '(*) Seleccionar Titulares' " name="titularesSeleccionados "
                    [data]="titulares" required [(ngModel)]="titularesSeleccionados " [settings]="dropdownTitularesSettings">
                  </ng-multiselect-dropdown>
                </div>
                <div class="row ">
                    <div class="col-12 ">
                        <image-upload [disabled]="!btnImagenCliente" [fileTooLargeMessage]=" 'Imagen Muy Pesada' " required [clearButtonCaption]=" 'Limpiar' " [extensions]="[ 'jpeg', 'png', 'jpg'] " [max]="1" [buttonCaption]=" 'Seleccionar Foto' " [dropBoxMessage]=" '!Arrastre foto aquí!' " (uploadFinished)="onUploadFinished($event) " (uploadStateChanged)="onUploadStateChanged($event) " (removed)="onRemoved($event) ">
                        </image-upload>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-12">
              <button [disabled]="!formularioCliente.valid" type="submit" class="btn btn-info waves-effect waves-light">
                <span><i class="fa fa-save"></i> Crear Cliente </span></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>