<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h1 class="error">404</h1>
                    <h3 class="text-uppercase">Página No Encontrada</h3>
                    <p class="text-muted m-b-0">Usted no tiene permiso para acceder a esta página.</p>
                    <p class="text-muted m-b-0">Por favor comuniquese con Mesa de Ayuda </p>
                    <p class="text-muted m-b-0">+571 - 4324000 ext. 159 </p>
                    <a routerLink="/dashboard" class=" m-b-20 m-t-20 btn btn-info btn-rounded waves-effect waves-light"> <i class="fa fa-home"></i>Volver a Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>