<app-loader [loader]="isLoading"> </app-loader>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h3>Recargas de Saldo a Billetera Medio <b>Local</b> </h3>
                <small>Realice la búsqueda del cliente a recargar mediante los siguientes criterios: <span class="text-muted">(Nombre, Apellido o Número de Identificación)</span></small>
            </div>
            <div class="col-md-4">
                <button *ngIf="responsable.length == 0" class="btn btn-md btn-dropbox" (click)="reImprimir()" type="submit "><i class="fa fa-print"></i> Reimprimir última recarga</button>
            </div>
        </div>

        <div class="Recarga p-30">
            <div class=" login-box form-horizontal form-material">
                <div class="form-group">
                    <div class="consultaCliente">
                        <div class="social-widget ">
                            <div class="soc-header box-title bg-primary">
                                <h4 class="text-white"> Buscar Clientes <i class="fa fa-search"></i> </h4>
                            </div>
                            <div class="soc-content consultaClienteCuerpo">

                                <div class="input-group">
                                    <input class="form-control text-center" type="text" [(ngModel)]="ClientName" (keyup)="buscarCliente(ClientName)" placeholder="Ingrese criterio de búsqueda" #buscar/>
                                    <span id="searchclear" class="fa fa-times-circle-o" (click)="buscar.value=''; responsable = []; verResumenRecarga = false"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-result" *ngIf="flag && clients !== null">
                        <ul class="list-group">
                            <li *ngFor="let cliente of clients | async" class="list-group-item list-group-item-action flex-column">
                                <div class="p-1 text-center text-blue" *ngIf=" cliente.IdCliente==='ER-001' ">
                                    <h4>No existen Registros</h4>
                                </div>
                                <div *ngIf="cliente.IdCliente !=='ER-001' " (click)="seleccionarUsuario(cliente.IdCliente) " class="resultado_busqueda_cliente ">
                                    <img class="perfilImage d-flex mr-3 " [src]="cliente.Imagen " onError="this.src='assets/images/sinfoto.jpg' " />
                                    <h4 class="card-title nombre-cliente ">{{cliente.NombreCompleto}}</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngFor="let responsable of responsable ">
        <div *ngFor=" let cliente of infoCliente ">
            <div class=" card ">
                <div class="card-header card-no-border " [ngClass]="(cliente.TotalSaldoBolsillos==0)? 'bg-warning': 'bg-primary' ">
                    <div class="row ">
                        <div class="col-4 ">
                            <h4 class="m-b-0 text-white ">{{ cliente.NombreCliente}} {{cliente.ApellidoCliente}}</h4>
                        </div>
                        <div class="col-4 ">
                            <h4 class="m-b-0 text-white text-center "> Cliente No. {{cliente.IdCliente}} </h4>
                        </div>
                        <div class="col-4 ">
                            <h4 class="m-b-0 text-white "> <span class="text-center p-r-20 ">Saldo Total Actual: {{cliente.TotalSaldoBolsillos |   currency:'USD':'symbol':'3.0'}}</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <div class="row ">
                        <div class="col-1 ">
                            <h4 class="card-title ">
                                <img class="img-thumbnail " [src]="cliente.ImagenCliente " alt="{{ cliente.ImagenCliente }} " /> </h4>
                        </div>
                        <div class="col-11 ">
                            <div class="table-responsive ">
                                <table class="table table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>Bolsillo</th>
                                            <th class="text-center ">Saldo Actual</th>
                                            <th class="text-center ">Valor Recarga</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let bolsillo of cliente.Bolsillos ">
                                            <td>{{bolsillo.NombreBolsillo}}</td>
                                            <td class="text-center ">{{bolsillo.Saldo | currency:'USD':'symbol':'3.0'}}</td>
                                            <td class="text-center ">
                                                <input class="form-control campo_recarga text-center " name="Recarga " [(ngModel)]="bolsillo.ValorRecarga " type="number " [min]="0 " [max]="1000000 " [step]="1000 " pattern="^[0-9]+
                                    " #Recarga (click)="Recarga.select() " (input)="actualizarValorTotal(responsable) " (blur)="actualizarValorTotal(responsable) " tabindex="1 " />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div [hidden]="!verResumenRecarga " class="card ">
        <div class="card-body ">
            <div class="row ">
                <div class="col-6 ">
                    <div class="card-body ">
                        <h4 class="box-title pull-right vm ">Valor Recarga: <b>{{SumaRecarga | currency:'USD':'symbol':'3.0'}}</b></h4>
                    </div>
                </div>
                <div class="col-4 ">
                    <button class=" btn btn-lg btn-primary " [attr.disabled]="SumaRecarga <=0 ? true : null " (click)='seleccionarMedioPago()' tabindex="2 "> Recargar </button>
                </div>
            </div>
        </div>
    </div>

    <div id="medio-pago" class="modal fade " tabindex="-1 " role="dialog " aria-labelledby="medio-pago" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header bg-warning ">
                    <h4 class="modal-title text-white ">Medio de Pago</h4>
                    <button type="button " class="close " data-dismiss="modal " aria-hidden="true ">×</button>
                </div>
                <div class="modal-body text-center ">
                    <p>Seleccione el medio de pago a utilizar</p>
                    <hr>
                    <div *ngFor="let medio of MedioPago ">
                        <button class="btn btn-block btn-lg mb-2 mt-2 " [ngClass]="medio.clase " (click)='recarga(responsable, SumaRecarga, "EFE", medio.abrv)'>{{medio.nombreMedioPago}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>