<div class="row ">
    <div class="col-12">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <h3 card="card-title">Historial Transacciones</h3>
                    <h6 class="card-subtitle mb-2 text-muted">Consulte el historial de las últimas recargas realizadas</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">No. Recarga</th>
                                    <th class="text-center">Fecha Recarga</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Estado</th>
                                    <th class="text-center">Tipo Recarga</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of historialTransaccion">
                                    <td class="text-center">{{item.IdRecarga}}</td>
                                    <td class="text-center">{{item.FechaRecarga}}</td>
                                    <td class="text-center">{{item.Valor | currency:'USD':true:'3.0'}}</td>
                                    <td class="text-center"><span class="label" [class.label-danger]="item.Estado  === 'RECHAZADA'" [class.label-success]="item.Estado === 'APROBADA'" [class.label-megna]="item.Estado === 'PENDIENTE'" [class.label-warning]="item.Estado === 'PorConfirmar'"
                                            [class.label-warning]="item.Estado === 'FALLIDA'" [class.label-primary]="item.Estado === 'CREADA'" [class.label-light-danger]="item.Estado === 'EXPIRADA'">{{item.Estado}}</span><br>
                                        <small *ngIf="(item.Estado === 'APROBADA' && item.TipoRecarga === 'Electrónico')  || item.Estado === 'RECHAZADA' ">CUS-{{item.TrazabilityCode}}</small>
                                    </td>
                                    <td class="text-center"><i class="fa" [ngClass]="(item.TipoRecarga === 'Electrónico')?'fa-credit-card':'fa-money'">
                                      </i><span class="m-l-5">{{item.TipoRecarga}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>