<app-header>
</app-header>
<app-sidebar></app-sidebar>
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="card">
      <div class="card-body">
        <div class="col-12">
          <div class="container">
            <div class="row" id="appSummary">
              <div class="col text-center">
                <!-- <h1>Lo sentimos</h1> -->
                <p class="lead">{{message}}</p>
                <a routerLink="/seleccion-login" class=" m-b-20 m-t-20 btn btn-info btn-rounded waves-effect waves-light"> <i class="fa fa-home"></i> Volver a Inicio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>